body{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    font-family: 'Montserrat', sans-serif;
}
.addNew{
    width: 100%;
    background-color: cadetblue;
    padding: 24px 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 8px;
    margin-bottom: 16px;
    border-radius: 16px;
}

.addNew input{
    width: 80%;
    height:48px;
    align-self: center;
    padding: 0px 16px;
    background-color:azure;
    border-style: none;
    border-radius: 4px;
}

.addNew button{
    padding: 4px 16px;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
}

#publishBtn{
    align-self: center;
    background-color:rgb(150, 200, 200);
}

figure{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

.card{
    width: 95%;
    margin: 16px auto;
    padding: 24px 0px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color:azure;
}

.card p{
    margin: 8px 24px 8px 8px;
}

.botones{
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    gap: 16px;
    margin-right: 3%;
}

.x{
    width: max-content;
    align-self: flex-end;
    margin-right: 3%;
    background-color:rgb(150, 200, 200);
}

h3{
    margin: 0px auto;
}

.blue{
    background-color:rgb(110, 135, 255);
    height: 24px;
}

.red{
    background-color:rgb(255, 110, 140);
    height: 24px;
}